* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "times new roman", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.container {
    position: relative;
    width: 30vw;
    height: 50vh;
    background: linear-gradient(-45deg, #03031f, #0b2635);
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 20px;
    padding: 0 10px;
}

form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title {
    font-size: 30px;
    color: #c47807;
    margin-bottom: 10px;
    margin: 10px 0;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

.input-field {
    width: 100%;
    height: 40px;
    background: #f0f0f0;
    margin: 15px 0;
    border: 2px solid #c47807;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 150px;
    color: #444;
}


.btn {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background: #c47807;
    color: #fff;
    font-weight: 100;
    margin: 30px 0;
    text-transform: uppercase;
    cursor: pointer;

}